Importing Librairies

In [2]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings("ignore")

##Psycopg2 connector

In [3]:
# SQLAlchemy connection string format:
# postgresql+psycopg2://user:password@host:port/dbname

DATABASE_URL = (
    "postgresql+psycopg2://neondb_owner:npg_CeS9fJg2azZD"
    "@ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech:5432/neondb"
    "?sslmode=require"
)

# Create engine and establish connection
engine = create_engine(DATABASE_URL)

Importing Data

In [12]:
import pandas as pd
df=pd.read_csv('sat-results.csv')
df.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,SAT Critical Readng Avg. Score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,355,218160,x345,78%,2.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,383,268547,x234,NaN,3.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,377,236446,x123,NaN,3.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,414,427826,x123,92%,4.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,390,672714,x123,92%,2.0

# Quick look at the data structure

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   DBN                              493 non-null    object
 1   SCHOOL NAME                      493 non-null    object
 2   Num of SAT Test Takers           493 non-null    object
 3   SAT Critical Reading Avg. Score  493 non-null    object
 4   SAT Math Avg. Score              493 non-null    object
 5   SAT Writing Avg. Score           493 non-null    object
 6   SAT Critical Readng Avg. Score   493 non-null    object
 7   internal_school_id               493 non-null    int64
 8   contact_extension                388 non-null    object
 9   pct_students_tested              376 non-null    object
 10  academic_tier_rating             402 non-null    float64
dtypes: float64(1), int64(1), object(9)
memory usage: 42.5+ KB

In [14]:
df.describe()

       internal_school_id  academic_tier_rating
count          493.000000            402.000000
mean        562172.943205              2.564677
std         262138.627055              1.126443
min         101855.000000              1.000000
25%         332013.000000              2.000000
50%         587220.000000              3.000000
75%         782993.000000              4.000000
max         999398.000000              4.000000

In [15]:
df.duplicated().sum()

np.int64(15)

Cleaning and Preprocessing

In [16]:
# Drop exact duplicates
new_df=df.drop_duplicates()
new_df

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,SAT Critical Readng Avg. Score,internal_school_id,contact_extension,pct_students_tested,academic_tier_rating
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,355,218160,x345,78%,2.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,383,268547,x234,NaN,3.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,377,236446,x123,NaN,3.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,414,427826,x123,92%,4.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,390,672714,x123,92%,2.0
...,...,...,...,...,...,...,...,...,...,...,...
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s,s,733698,x234,92%,1.0
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s,s,976034,x345,NaN,4.0
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s,s,556924,x123,85%,1.0
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426,496,544514,x234,92%,2.0
477,79X490,PHOENIX ACADEMY,9,367,370,360,367,248647,x234,85%,NaN

In [17]:
# Handle missing values: example fill or drop
new_df = new_df.dropna(subset=['SAT Critical Reading Avg. Score', 'SAT Math Avg. Score', 'SAT Writing Avg. Score'])

In [18]:
# Fix data types (convert scores to int)
for col in ['SAT Critical Reading Avg. Score', 'SAT Math Avg. Score', 'SAT Writing Avg. Score']:
    new_df[col] = pd.to_numeric(new_df[col], errors='coerce').fillna(0).astype(int)

In [19]:
# Standardize column names (lowercase, underscores)
new_df.columns = [col.lower().replace(' ', '_').replace('.', '') for col in new_df.columns]

In [22]:
# Clean percentage values (remove % sign and convert to float)
new_df['pct_students_tested'] = new_df['pct_students_tested'].str.replace('%', '').astype(float)

In [23]:
# Standardize missing value representations
new_df.replace(['N/A', 'NaN', ''], pd.NA, inplace=True)

 Database Integration

In [25]:
# Establish database connection
DATABASE_URL = (
    "postgresql+psycopg2://neondb_owner:npg_CeS9fJg2azZD"
    "@ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech:5432/neondb"
    "?sslmode=require"
)

engine = create_engine(DATABASE_URL)

In [26]:
# Write to database
new_df.to_sql(
    name='Audrey_sat_results',
    con=engine,
    schema='nyc_schools',
    if_exists='replace',
    index=False
)

478

# Key Challenges:

Database Connection

Neon PostgreSQL required endpoint specification in connection string

SNI (Server Name Indication) compatibility issue with older libpq versions

Data Quality Issues

Duplicate school entries (5+% duplicates)

Invalid values ('s', -10) in numeric fields

Percentage values stored as strings with % symbols

Column name inconsistencies (typos, mixed formatting)

Missing Data

24% of test taker counts missing

12% of academic tier ratings absent

21% of contact extensions not provided

Schema Alignment

Needed to match cleaned data types with PostgreSQL schema

Had to handle mixed numeric/text fields consistently

The connection issue was the most critical blocker, while data cleaning required the most iterative refinement to preserve data integrity.